.container-fluid {
  background-color: rgba(61, 61, 61, 0.7);
  height: 4rem;
  display: grid;
  align-items: center;
  padding: 0;

  .row {
    justify-content: end;
    height: 4rem;
    overflow: hidden;

    div {
      align-items: center;
      display: flex;

      p {
        margin-bottom: 0;
      }

      .user-img {
        height: 4rem;
        padding: 0.5rem;
        img {
          height: 100%;
        }
      }
    }
  }
}
